<div id="navbar">
  <a id="logo" (click)="refresh()"><img src="../../assets/img/saslogo.svg" alt=""></a>
  <span id="app-title"><span class="big">Samwell</span> <span class="small">ver. 1.0</span></span>
  <div class="right">
      <ul id="routing">
          <li><a routerLink = '/' >Versions</a></li>
          <li><a routerLink = '/stats'>Statistics</a></li>
      </ul>
  </div>
</div>

