#navbar {
    background: white;
    padding: 10px;
    height: 75px;
}

#logo {
    cursor: pointer;
    display: inline-block;
}
#logo img{
    display: block;
}

#app-title {
    position: absolute;
    top: 27px;
    left: 208px;
    color: #924d5f;
}

.right {
    float: right;
}

.small {
    font-size: 70%;
}

.big {
    font-size: 160%;
}

#routing {
    height: 100%;
    line-height: 60px;
    margin-right: 100px;
}

#routing li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

#routing li a {
    display: inline;
    color: #924d5f;
}
/* #navbar h1{
    margin: 0;
   display: inline-block
} */