#networks li {
    list-style-type: none;
}

h2{
    margin: 0 0 5px;
    font-size: 24px;
}

.hidden{
    display: none;
}
.show{
    display: block;
}
.box-holder{
    position: relative;
    margin: 0 0 20px;
}
.box-holder select{
    display: block;
    width:100%;
    margin: 0 0 5px;
    padding:15px;
    max-width: 600px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8 url("../../../assets/img/arrow.png") no-repeat scroll 95% 50% ;
    background-size: 20px 20px;
    color:#16a085;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    cursor:pointer;
    font-size: 18px;
}
.box-holder select option{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #16a085;
    font-size: 16px;
    line-height: 34px;
    display: block;
    color:#fff;
    padding:4px;
}
.select-style select:focus {
    outline: none;
}
.custom-submit{
    margin-top: 20px;
}
/* animation */
.flipper-holder {
    perspective: 1000px;
    min-height: 100px;
}
.flipper-holder.visible .flipper {
    animation: shake 1s;
    animation-direction: alternate;
}
.flipper-holder, .front, .back {
    width: 100%;
    max-width: 600px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes shake {
    0% {  transform: rotateY(180deg);}
    100% { transform: rotateY(0deg); }
}