
<div class="box-holder">
  <h2>Template</h2>
  <select [(ngModel)]="selectedTemplate" (change)="onTemplateChange(selectedTemplate)">
      <option *ngFor="let template of templates" [ngValue]="template">{{template.name}}</option>
    </select>
</div>

<div class="box-holder">
  <div [ngClass]= "templateRevision ? 'visible flipper-holder' : 'hidden flipper-holder' ">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
          <h2>Version</h2>
          <select [(ngModel)]="selectedRev" (change)="onRevChange(selectedRev)">
            <option *ngFor="let rev of templateRevision" [ngValue]="rev.scriptId">v{{rev.rev}}: {{rev.revInfo}}</option>
          </select>
      </div>
    </div>
  </div>
</div>

<div *ngIf="networks?.length > 0" class="box-holder">
  <div [ngClass]= "networks ? 'visible flipper-holder' : 'hidden flipper-holder' ">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <h2>Network</h2>
        <form #signupForm="ngForm" (ngSubmit)="putOnline(signupForm.value)" (change)="showUpdateTo(signupForm.value)">
          <ul id="networks">
            <li *ngFor="let net of networks;">
              <label class="checkbox" for="{{net.networkId}}">
                <input type="checkbox" name="{{net.networkId}}" ngModel id="{{net.networkId}}" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                  {{net.networkName}} ({{net.insertions.length}} insertions to update)
              </label>
            </li>
          </ul>

          <div *ngIf="selectedNetworks?.length > 0" class="box-holder">
              Switch template's revision to:
              <select name="selectNewRev" [(ngModel)]="selectedNewRev" (change)="onNewRevChange(selectedRev)">
                  <option *ngFor="let rev of templateRevision" [ngValue]="rev.scriptId">v{{rev.rev}}: {{rev.revInfo}}</option>
                </select>

                <button *ngIf="showPutOnlineButton" type="submit" class="custom-submit btn btn-block btn-lg btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div> 
  </div>
</div>

<div *ngIf="networks?.length == 0" class="box-holder">No insertions!</div>

