<div>
  <div id="chart" style="display: none">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]="chartColors"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button id="chart-generator" class="btn btn-embossed btn-primary" (click)="randomize()">Generate chart</button>
</div>
