<app-navbar></app-navbar>
<div class="container">
    <ul>
        <li><a routerLink = '/'>Change template's revision</a></li>
        <li><a routerLink = '/stats'>Template's stats</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>

