<h2>Choose Template</h2>

<select [(ngModel)]="selectedTemplate" (change)="onTemplateChange(selectedTemplate)">
  <option *ngFor="let template of templates" [ngValue]="template">{{template.name}}</option>
</select>

<div *ngIf=templateRevision>
  <h2>Choose Revision</h2>
  <select [(ngModel)]="selectedRev" (change)="onRevChange(selectedRev)">
    <option *ngFor="let rev of templateRevision" [ngValue]="rev.scriptId">v{{rev.rev}}: {{rev.revInfo}}</option>
  </select>
</div>

<div *ngIf=networks>
  <h2>Choose Sth</h2>
  <ul id="networks">
    <li *ngFor="let network of networks;">
      <label class="checkbox" for=`network{{network.id}}`>
        <input type="checkbox" value="" id=`network{{network.id}}` data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
          {{network.id}} ({{network.insertions.length}})
      </label>
    </li>
  </ul>
</div>