h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.top-bar-holder{
  overflow: hidden;
  margin: 0 auto 40px;
  padding: 0;
  list-style:none;
  border:1px solid #34495e;
  border-radius: 5px;
  display: flex;
}
.top-bar-holder li{
  width:50%;
  font-size:24px;
  line-height:28px;
  flex: 1;
  text-align: center;
  border-left:1px solid #34495e;
}
.top-bar-holder li:first-child{
  border:none;
}
.top-bar-holder li a{
  display: block;
  padding:15px;
  background: #f0ece2;
  transition: all ease 0.5s;
}
.top-bar-holder li:hover A{
  color: #fff;
  background:#34495e;
}