html, body {
    margin:0;
    padding:0;
    border:0;
}

body {
    background: #f0ece2;
}
*{
    box-sizing: border-box
}
.container{
    max-width: 80%;
    padding: 40px 0;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #924d5f;
}