<section class="input-section">
    <h5>Template</h5>
        <select [(ngModel)]="selectedTemplate" (change)="onTemplateChange(selectedTemplate)">
            <option *ngFor="let template of templates" [ngValue]="template">{{template.name}}</option>
        </select>
</section>
<section class="input-section">
    <div [ngClass]= "templateRevision ? 'visible flipper-holder' : 'hidden flipper-holder' ">
        <div class="flipper">
        <div class="front">
        </div>
        <div class="back">
            <h5>Version</h5>
            <select [(ngModel)]="selectedRev" (change)="onRevChange(selectedRev)">
                <option>ALL</option>
                <option *ngFor="let rev of templateRevision" [ngValue]="rev.scriptId">v{{rev.rev}}: {{rev.revInfo}}</option>
            </select>
        </div>
        </div>
    </div>
</section>
<section class="input-section" id='period' style="display:none">
    <div [ngClass]= "periods ? 'visible flipper-holder' : 'hidden flipper-holder' ">
        <div class="flipper">
        <div class="front">
        </div>
        <div class="back">
            <h5>Period</h5>
            <select [(ngModel)]="period" (change)="onPeriodChange(period)">
                <option *ngFor="let period of periods" [ngValue]="period">{{period}}</option>
            </select>
        </div>
        </div>
    </div>
</section>
<section class="input-section" id='frequency' style="display:none">
    <div [ngClass]= "frequency ? 'visible flipper-holder' : 'hidden flipper-holder' ">
        <div class="flipper">
        <div class="front">
        </div>
        <div class="back">
            <h5>Frequency</h5>
            <select [(ngModel)]="frequency" (change)="onTimeChange(frequency)">
                <option *ngFor="let fr of frequency" [ngValue]="frequency">{{fr}}</option>
            </select>
        </div>
        </div>
    </div>
</section>
<section class="output-section">
    <div id="chart-wrapper">
        <app-chart></app-chart>
    </div>
</section>
