#chart-wrapper {
    background: white;
}

.input-section, .output-section {
    margin-bottom: 20px;
}

/* .input-section {
    width:25%;
    float: left;
} */

.output-section {
    width: 100%;
    float: left;
}

select {
    width: 250px;
}